body{
	transition: all 0.9s;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url('../img/default.jpg');
	color: #fff;
	text-shadow: 2px 2px 1px #000;
	font-family: sans-serif,serif,arial;
	height: 95vh;
}
.header{
	font-size: 1em;
	padding: 15px;
	position: absolute;
	top: -30px;
	left: 0;
}
#weatherContainer{
	background-color: rgba(0,0,0,0.25);
	box-shadow: 1px 1px 5px #000;
	padding: 50px;
	border-radius: 10px;
	position: absolute;
	visibility: hidden;
}
#weatherContainer h1{
	margin: 5px;
	font-size: 42px;
	font-family: sans-serif,serif,arial;
}
#searchContainer{
	padding: 15px;
	position: absolute;
	top: 0;
	right: 0;
}
#searchContainer input{
	width: 200px;
}
#searchContainer button{
	background-color: rgb(1,159,198);
	width: 75px;
}
.searchControl{
	box-shadow: 2px 2px 5px #000;
	border: none;
	border-radius: 5px;
	padding: 5px;
}
#weatherMain{
	display: #000;
	margin-bottom: 20px;
}
#weatherMain div{
	display: inline-block;
}
#weatherDescriptionHeader{
	font-size: 28px;
	vertical-align: 50%;
}
#temparature{
	font-size: 28px;
	vertical-align: 25%;
}
.bottomDetails{
	display: block;
	font-size: 24px;
	text-align: right;
}
hr{
	margin-bottom: 20px;
}
